.data {
    border-radius: 32px;
    width: 550px;
    padding: 15px;
    margin: 100px auto;
    box-shadow: 0 10px 10px 10px #c3c3c3;
}

input {
    width: 500px;
    height: 40px;
    font-size: 15px;
    border-radius: 32px;
    padding-left: 10px;
    margin: auto;
    border-color: #c3c3c3;
}

label {
    display: block;
    margin: 5px 0;
}

body {
    width: 100%;
    height: 100%;
    text-align: center;
    /*margin: auto;*/
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}